.main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 10px;
  margin: calc(50vh - 300px) auto;
  max-width: 950px;
  overflow: hidden;
}

@media (max-width:800px){
  .main{
    grid-template-columns: 1fr 1fr;
  
  }
 
 
}

@media(max-width:530px){
  .main{
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
}